@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #FFFBFE;
}


.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20%;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 15%;
}

strong{
    color: #063751;
}

.apresentacao__conteudo__titulo{
    font-size: 5em;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__links{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.apresentacao__conteudo__links__texto{
    background-color: #063751;
    padding: 20px;
    text-decoration: none;
    color: #FFFBFE;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    border-radius: 8px;
    font-size: 1em;
}

.apresentacao__conteudo__links__texto:hover{
    background-color: #FFFBFE;
    color: #063751;
}

.apresentacao__conteudo2{
    width: 70%;
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.apresentacao__conteudo2__imagem{
    border: 10px solid #063751;
    width: 50%;
    margin-right: 18px;
}

.apresentacao__conteudo2__subtitulo{
    background-color: #06375167;
    font-size: 2em;
    font-family: "Krona One", sans-serif;
    color: #FFFBFE;
    margin-bottom: 30px;
}

.texto__secundario{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    text-align: justify;
}

.imagem2{
    margin-left: 18px;
}

.apresentacao__conteudo2__subtitulo2{
    font-family: "Krona One", sans-serif;
    color: #063751;
    margin-bottom: 2%;
}

.rodape{
    background-color: #063751;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #FFFBFE;
}

.titulo2{
    font-size: 2rem;
}

.subtitulo2{
    font-size: 1.5rem;
}